body {padding: 0; margin: 0; font-size: 12px; background: #fff;
      font-family: 'Arial', sans-serif; color: #3c3c3c;}

div.flash {height: 47px; text-align: center; color: #5b5b5b; line-height: 47px;
            font-size: 16px; font-weight: bold;}
div.flash.error {
	background: url(../img/login/errorBg.png) 0 0 repeat-x;
	visibility: hidden;
}

#content {width: 431px; margin: auto; padding-bottom: 70px;
            background: url(../img/login/shadow.png) 0 100% no-repeat;}
#content h1 {text-align: center; color: #c24f4f; font-size: 28px; font-weight: normal;}
#content h2 {
	color: #fff;
	background: url(../img/login/lockIco.png) 11px 7px no-repeat;
	font-weight: normal;
	margin: 0;
	padding-top: 12px;
	padding-right: 40px;
	padding-left: 40px;
}
#content form {
	width: 431px;
	height: 184px;
	position: relative;
	background: url(../img/login/formBg.png) 0 0 no-repeat;
}
form * {vertical-align: middle;}
input.text, input.password {border: 1px solid #d7d7d7; padding: 5px; width: 168px;
                            font-size: 14px; color: #3c3c3c;
                            background: url(../img/login/inputBg.png) 0 0 repeat-x;}
div.left label, div.right label {color: #8e9474; display: block; margin-bottom: 10px;}

div.left, div.right {margin-top: 15px; display: inline;}
div.left {float: left; margin-left: 15px;}
div.right {float: right; margin-right: 15px;}

div.submit {clear: both; text-align: right; padding: 10px 15px 0 0;}
input.button {width: 82px; height: 32px; line-height: 32px;
             text-align: center;
             background: url(../img/login/buttonBg.png) 0 0 no-repeat #f00;
             border: 0; font-size: 13px; font-weight: bold; color: #fff;}

a.forgotten {position: absolute; top: 18px; right: 15px; color: #d2d2d2;}
div.remember {float:left; margin: 9px 0 0 15px; display: inline;}
div.remember input {margin: 0;}
div.remember label {color: #b4b4b4;}

#forgottenPassword {display: none; text-align: center;}
div.fpSubmit {padding-top: 20px;}
div.flash.error2 {
	background: url(../img/login/errorBg.png) 0 0 repeat-x;
}
