body {padding: 0; margin: 0; font-size: 12px; background: #fff;
      font-family: 'Arial', sans-serif; color: #3c3c3c;}
a img {border: 0;}
a {color: #3c3c3c;}

/** header */
#header {height: 165px; background: #f2f2f2; padding-left: 118px; position: relative;}
.textleft {
	text-align: left;
}
.nahlediky {
	float: left;
	width: 200px;
}

.mesic_select {
	width: 80px;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 7px;
}
.date_button {
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.floatright {
	float: right;
	clear: none;
}

.rok_select {
	width: 57px;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}



#header h1 {
	height: 26px;
	position: relative;
	top: 20px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 300px;
	color: #999;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#contentWrapper #content #inner .textbox add .nostyle #succes {
	visibility: hidden;
}

#header h1 a {position: relative;display: block; width: 139px; height: 26px;}
#header h1 a span {display: block; width: 139px; height: 26px; position: absolute; 
                   top: 0; left: 0; background: url(../img/logo.png) 0 0 no-repeat;}
#mandatory {
	width: 160px;
	padding: 5px;
}


div#lastLogin {text-align: right; width: 280px; position: absolute; top: 0; left: 785px;
                color: #979797; padding-top: 16px; font-size: 14px;}
div#user {
	text-align: right;
	width: 106px;
	position: absolute;
	top: 42px;
	left: 938px;
	background: url(../img/user.png) 0 8px no-repeat;
	font-size: 16px;
	height: 53px;
	line-height: 55px;
}
div#user strong {font-size: 18px; font-weight: normal;}
div#user a {font-size: 14px; text-decoration: none;}

div#mainMenuWrapper {width: 1064px; height: 37px; position: absolute; left: 0; top: 100px;
                     background: url(../img/mainMenuWrapperBg.png) 0 100% repeat-x;}
ul#mainMenu {list-style-type: none; margin: 0; padding: 0; margin-left: 118px;}
ul#mainMenu li {float: left; width: 180px; height: 37px; margin: 0; padding: 0;
                text-align: center; line-height: 37px; text-transform: uppercase;
                font-weight: bold;}
ul#mainMenu li.active {background: url(../img/menuActive.png) 0 0 no-repeat;}
ul#mainMenu li a {text-decoration: none; color: #424242;}
ul#mainMenu li.active a {color: #84354a;}
a.viewSite {position: absolute; top: 91px; left: 933px;}

/** content */
div#contentWrapper {width: 1064px; margin: -30px 0 35px 0; position: relative; background: #fcf5e5;}
div#leftMenu{width: 186px; float: left; margin-left: 118px; padding-top: 30px; display: inline;}
div#leftMenu strong {padding-left: 10px; color: #070707; font-size: 15px;}
div#leftMenu ul {margin: 15px 0 0 0; padding: 0; list-style-type: none; font-size: 15px;}
div#leftMenu ul li {padding-left: 10px; border-bottom: 1px solid #878787;}
div#leftMenu ul li.active {background: url(../img/leftMenuActive.png) 0 0 no-repeat;
                           border-bottom: 0; margin-top: -1px; _position: relative;}
div#leftMenu ul li a {color: #4c4c4c; text-decoration: none; display: block;
                      height: 35px; line-height: 35px;}
div#leftMenu ul li.active a {color: #fff;}

div#leftMenu ul li ul {background: #f4f4f4; margin: 0 10px 0 -10px; padding: 10px;}
div#leftMenu ul li ul li {border: 0; background: url(../img/submenuLiBg.png) 0 6px no-repeat;}
div#leftMenu ul li ul li a {color: #4c4c4c !important; text-decoration: none;
                            height: auto; line-height: 18px; font-size: 12px;}

div#content {width: 760px; float: left;}
div#inner {margin: 30px 15px; color: #666;}
#stats {height: 300px; background: #fff; margin-bottom: 15px; border: 15px solid #fff;}

#search {background: url(../img/search.png) 0 0 no-repeat #fff; height: 40px;
         margin: 35px 0;}
#search input.button {width: 27px; height: 27px; display: block; float: left; display: inline;
                      background: url(../img/searchSubmitBg.png) 0 0 no-repeat;
                      margin: 0; padding: 0; border: 0; margin-top: 7px;
                      color: #93c748; text-align: left; font-size: 3px}
#search input.text {display: block; float: left; font-size: 14px; display: inline;
                    width: 132px; border: 0; margin: 8px 5px 10px 5px;
                    background: none;}

div.contact {margin: 35px 0;}
div.contact address {font-style: normal; color: #4c4c4c; margin: 10px; font-size: 13px;}

/** footer */
#footer {background: #ffffff; height: 130px; padding-left: 118px; position: relative;}
ul#bottomMenu {list-style-type: none; padding: 20px 0 0 15px;}
ul#bottomMenu li {display: inline; padding-right: 20px; text-transform: lowercase;}
ul#bottomMenu li a {color: #e4e3bf; text-decoration: none;}
ul#bottomMenu li.active a {color: #fff;}

div#copyright {padding-left: 15px; border-left: 1px dotted #4a4a4a; color: #fff;
               position: absolute; top: 20px; left: 961px; line-height: 160%;}

/* elements */
.ca {text-align: center;}
.la {text-align: left;}
.ra {text-align: right;}
hr.cleaner { clear: both; height: 1px; margin: -1px 0 0 0; border: none; visibility: hidden; }

h2 {font-size: 18px; font-weight: normal; margin: 0 0 15px 0; padding: 0; color: #1f1f1f;}
p {line-height: 140%;}

/* datagrid */
div.datagrid {background: url(../img/datagridHeader.png) 0 0 no-repeat #fff;
              width: 729px; margin-bottom: 15px;}
div.datagrid h2 {height: 42px; line-height: 42px; font-size: 19px; color: #fff;
                 font-weight: normal; margin: 0; padding: 0 20px;}
div.datagrid table {width: 100%; border-collapse: collapse;}
div.datagrid table a {color: #268a9b;}
div.datagrid table th {width: auto; color: #787878; font-size: 13px;}
div.datagrid table th,
div.datagrid table td {
	text-align: center;
	line-height: 20px;
}
#contentWrapper #content .datagrid .odd .actions {
	font-size: 16px;
	font-weight: bold;
	color: #0000FF;
}

div.datagrid table tr.odd td {
	background: url(../img/datagridTdBg.png) 0 1px repeat-x;
	padding-top: 15px;
}
.red {
	background-color: #FFDDDD;
}

div.datagrid div.datagridActions {background: url(../img/datagridFooter.png) left bottom no-repeat;
                                  height: 38px; line-height: 38px; padding: 0 16px;}
div.datagrid input.button {border: none; background: none; width: auto; float: left;}
div.datagrid .deleteAll {color: #c04e1e;}
div.datagrid table td.actions a {color: #999; text-decoration: none; display: inline-block;
				 height: 15px;}
div.datagrid a.edit {background: url(../img/datagridEdit.gif) 0 0 no-repeat;
                     padding-left: 20px;}
.casek {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #0000FF;
}

div.datagrid a.delete {background: url(../img/datagridDel.gif) 0 1px no-repeat;
                       padding-left: 15px; margin-left: 6px;}
					   
div.datagrid a.refresh {background: url(../img/icon_refresh.png) 0 1px no-repeat;
                       padding-left: 15px; margin-left: 6px;}
					   
.mala_poznamka {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
}

div.datagrid a.up {background: url(../img/datagridUarr.gif) 0 0 no-repeat;
                   padding-left: 11px; margin-left: 9px;}
div.datagrid a.down {background: url(../img/datagridDarr.gif) 0 0 no-repeat;
                     padding-left: 11px; margin-left: 9px;}
div.datagrid a.button span {display: none;}
div.datagrid form {margin: 0;}

div.paginator {
	float: right;
	font-weight: bold;
}
div.paginator a {color: #5e5e5e; padding: 3px;}
div.paginator a.active {background: #ff6c24; color: #fff; text-decoration: none;}

a.add {display: block; background: url(../img/addBg.png) 0 0 no-repeat;
       height: 20px; line-height: 20px; margin: 5px; text-decoration: none;
       padding-left: 25px; color: #1c1c1c; font-size: 13px;}

/* textbox */
div.textbox {background: url(../img/cornersTop.png) 0 0 no-repeat #fff; width: 729px;
             margin-bottom: 25px;}
div.textboxFooter {background: url(../img/cornersBottom.png) 0 0 no-repeat #fff;
                   height: 3px; clear: both; font-size: 0;}
div.textbox h2, div.textbox h3, div.textbox h4, div.textbox p
    {padding: 15px 0 0 15px; margin: 0;}
div.textbox h2 {color: #be221c;}
div.textbox h3 {color: #6b6b6b; font-size: 16px;}
div.textbox form {padding: 15px;}

/* poll */
div.poll {padding: 0 15px 15px 15px;}
div.poll h3 {color: #0e6978; padding-left: 0;}
div.poll div.answer {background: #fe9e2d; height: 12px;}
div.poll p {font-size: 13px; margin: 12px 0 3px 0; color: #3d3d3d; padding: 0;}

/* images */
div.images ul {list-style-type: none; margin: 0; padding: 0 25px 0 25px;}
div.images li {
	width: 200px;
	height: 240px;
	float: left;
	margin: 0 25px 40px 0;
	text-align: center;
}
div.images li.last {margin-right: 0;}
div.images h3 {
	color: #6b6b6b;
	padding-left: 0;
}
div.images li img {
	border: 1px solid #959595;
}
div.images div.imageInfo {margin: 4px 0; line-height: 130%; color: #b7b7b7;}
div.imageActions {
	text-align: left;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}
div.imageActions a {color: #999;}
div.imageActions  .edit {
	background: url(../img/datagridEdit.gif) 0 0 no-repeat;
	padding-left: 20px;
	cursor: pointer;
	text-decoration: underline;
}
#contentWrapper #content #inner .textbox add #popupContact #popupContactClose {
	font-weight: bold;
	cursor: pointer;
}

div.imageActions  .delete {
	background: url(../img/datagridDel.gif) 0 1px no-repeat;
	padding-left: 15px;
	margin-left: 10px;
	cursor: pointer;
	text-decoration: underline;
}

div.imagesActions {clear: both; padding: 30px 10px;}
input.filterButton {margin: 0; border: 0; background: #fff; color: #666;}

/* forms */
label {margin-right: 5px;}
form * {vertical-align: top;}
input.text, input.password, input.file, textarea, select
    {
	border: 1px solid #d7d7d7;
	width: 168px;
	font-size: 14px;
	color: #3c3c3c;
	margin: 0 0 10px 0;
	background: url(../img/login/inputBg.png) 0 0 repeat-x #fff;
}
textarea {width: auto;}
input.button
    {width: 82px; height: 32px; line-height: 32px; text-align: center;
     background: url(../img/login/buttonBg.png) 0 0 no-repeat #f00;
     border: 0; font-size: 13px; font-weight: bold; color: #fff;}
input {
	margin-bottom: 5px;
}

/* flash messages */
div.flash {width: 729px; margin: 0 0 15px;}
div.flash div.top {height: 4px; font-size: 0;}
div.flash div.text {padding: 15px 10px 15px 40px; color: #3d3d3d;}
div.flash div.bottom {height: 4px;}

div.flash.error div.top {background: url(../img/flashErrorTop.png) 0 0 no-repeat;}
div.flash.error div.text {border-right: 1px solid #dca1a1; border-left: 1px solid #dca1a1; 
                          background: url(../img/flashErrorBg.png) 15px 50% no-repeat #e4cdcd;}
div.flash.error div.bottom {background: url(../img/flashErrorBottom.png) 0 0 no-repeat;}

div.flash.ok div.top {background: url(../img/flashOkTop.png) 0 0 no-repeat;}
div.flash.ok div.text {border-right: 1px solid #b9d36c; border-left: 1px solid #b9d36c;
                       background: url(../img/flashOkBg.png) 12px 50% no-repeat #edf1e1;}
div.flash.ok div.bottom {background: url(../img/flashOkBottom.png) 0 0 no-repeat;}

div.flash.info div.top {background: url(../img/flashInfoTop.png) 0 0 no-repeat;}
div.flash.info div.text {border-right: 1px solid #55c3c4; border-left: 1px solid #55c3c4;
                         background: url(../img/flashInfoBg.png) 11px 50% no-repeat #a1dde6;}
div.flash.info div.bottom {background: url(../img/flashInfoBottom.png) 0 0 no-repeat;}

div.flash.warn div.top {background: url(../img/flashWarnTop.png) 0 0 no-repeat;}
div.flash.warn div.text {border-right: 1px solid #d8a840; border-left: 1px solid #d8a840;
                         background: url(../img/flashWarnBg.png) 10px 50% no-repeat #e6d0a1;}
.poradi_input {
	width: 25px;
}

.handover {
	cursor: pointer;
}

div.flash.warn div.bottom {background: url(../img/flashWarnBottom.png) 0 0 no-repeat;}

/* tooltips */
.tooltip {position:absolute; left:-2000px; background-color:#dedede; 
          padding:3px 3px 0 3px; _padding-bottom: 3px;
          z-index:9999; top:0;}

.tooltip p {margin:0; padding:0; color:#fff;}

/* dashboard site stats */
table.siteStats {width: 90%; margin: 15px; color: #1f1f1f;}
table.siteStats th {text-align: left; font-size: 15px;}
table.siteStats td, table.siteStats th {padding: 4px;}

/* jQuery icons */
#icons {list-style-image:none; list-style-position:outside; list-style-type:none;
        padding: 15px; margin: 0 0 0 10px;}
#icons li {float: left; margin: 0 5px 5px 0;}
 #backgroundPopup{  
 display:none;  
 position:fixed;  
 _position:absolute; /* hack for internet explorer 6*/  
 height:100%;  
 width:100%;  
 top:0;  
 left:0;  
 background:#000000;  
 border:1px solid #cecece;  
 z-index:1;  
 }  
 #popupContact{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:630px;
	width:408px;
	background:#FFFFFF;
	border:2px solid #cecece;
	z-index:2;
	padding:12px;
	font-size:13px;
 }  
 #popupContact h1{  
 text-align:left;  
 color:#6FA5FD;  
 font-size:22px;  
 font-weight:700;  
 border-bottom:1px dotted #D3D3D3;  
 padding-bottom:2px;  
 margin-bottom:20px;  
 }  
 #popupContactClose{
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#6fa5fd;
	font-weight:700;
	display:block;
	cursor: pointer;
 }  
div.datagrid div.datagridActionsRed {
	height: 38px;
	line-height: 38px;
	padding: 0 16px;
	background-color: #CC0000;
	background-image: url(../img/datagridFooter.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
div.imageActions .imagetext {
	padding-left: 15px;
	margin-left: 10px;
	width: 100%;
}
.red {
	color: #F00;
}

/*  MODAL EDIT OVERLAY */

#basic-modal-content,#basic-modal-content-2 {display:none;}

/* Overlay */
#simplemodal-overlay,#simplemodal-overlay-2 {background-color:#008; cursor:wait;}

/* Container */
#simplemodal-container {
	height:700px;
	width:700px;
	color:#666;
	background-color:#FFF;
	border:4px solid #444;
	padding:10px;
}

#simplemodal-container-2 {
	height:300px;
	width:700px;
	color:#666;
	background-color:#FFF;
	border:4px solid #444;
	padding:10px;
}
#simplemodal-container .simplemodal-data, #simplemodal-container-2 .simplemodal-data {padding:8px;}

#simplemodal-container a,#simplemodal-container-2 a {color:#ddd;}

#simplemodal-container a.modalCloseImg,#simplemodal-container-2 a.modalCloseImg {background:url(../img/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

#simplemodal-container h3,#simplemodal-container-2 h3 {color:#84b8d9;}

.edit_shadow{
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	width:100px;
	float:left;
	margin-top: 10px;
	margin-right: 30px;
	margin-bottom: 10px;
	margin-left: 30px;
}

.edited_today{
	font-weight:bold;
	color:#03C;
}

.prop_shadow{
	background-color:#efefef;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 3px 3px #CCC;
	-webkit-box-shadow: 0px 0px 3px 3px #CCC;
	box-shadow: 0px 0px 3px 3px #CCC;
	margin:20px;
}

span.name{
	font-size:16px !important;
	font-weight:bold;
}

#leftMenu .filter {
	margin-top: 25px;
	padding: 10px;
	border-top-width: 4px;
	border-right-width: 4px;
	border-bottom-width: 4px;
	border-left-width: 4px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFF;
	border-right-color: #FFF;
	border-bottom-color: #FFF;
	border-left-color: #FFF;
}

#leftMenu .filter h3 {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 0px;
}

.highlight { 
	background-color: yellow;
	font-weight:bold;
}

.options_shadow{
	background-color:#efefef;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 0px 3px 3px #CCC;
	-webkit-box-shadow: 0px 0px 3px 3px #CCC;
	box-shadow: 0px 0px 3px 3px #CCC;
	padding:15px;
}

.shanore-mega-quarter{
	float:left;
}

.tab{
	float:left;
	border:1px solid #FC6;
	padding:15px;
	margin-right:5px;
	cursor:pointer;
	position:relative;
	top:1px;
	background-color:#FFC;
}

.tabs{
	overflow:visible;
}

.content{
	clear:both;
	position:relative;
}

.tab.active{
	background-color:#FFF;
	border-bottom:none;
	position: relative;
    top: 2px;
}

.tab_content{
	border:1px solid #FC6;
	padding:25px;
	position:absolute;
	top:0px;
	width:100%;
}

.select_area{
	background-color: #FFFFCC;
    border: 1px solid #FFCC66;
	padding:15px;
}
#overlay{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:99999;} 

#overlayin{
	margin-left:auto;
	margin-right:auto;
	width:455px;
	margin-top:200px;
	background-color:#f3f2ee;
	color:#000;
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity:1.0;
	opacity:1.0;
	z-index:10000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:400;
	position:relative;
	padding:20px;
	border:5px solid #FFF;
} 
